<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laptop Price Prediction</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container-fluid">
        </div>
     </nav>
    <section>
        <div class="container-fluid">
            <div class="container">
                <form action="/" method="post">
                    <legend><h2><center><u>Laptop Configuration and Expected Price</u></center></h2></legend>
                    <br></br>
                    <div class="mb-3">
                        <label for="Brand"><b>Brand</b></label>
                        <select class="form-control" id="Brand" name="Brand" placeholder="Brand" required="required" >
                          <option value="" disabled selected>Select Brand</option>
                          <option>hp</option>
                          <option>samsung</option>
                          <option>msi</option>
                          <option>dell</option>
                          <option>acer</option>
                          <option>gigabyte</option>
                          <option>asus</option>
                          <option>microsoft</option>
                          <option>excaliberpc</option>
                          <option>lenovo</option>
                          <option>alienware</option>
                          <option>lg</option>
                          <option>other</option>
                        </select>
                    </div>


                    <div class="mb-3">
                      <label for="Screen_Size"><b>Screen Size</b></label>
                      <input type="number" class="form-control" id="Screen_Size" name="Screen_Size" min="10" max="20" placeholder="select between 10 to 20" required="required" step="any">
                    </div>
        
                    <div class="mb-3">
                      <label for="CPU_Model"><b>CPU Model</b></label>
                      <select class="form-control" id="CPU_Model" name="CPU_Model" placeholder="CPU Model" required="required">
                          <option value="" disabled selected>Select CPU Model</option>
                          <option>i3</option>
                          <option>i7</option>
                          <option>i5</option>
                          <option>i9</option>
                          <option>ryzen3</option>
                          <option>ryzen5</option>
                          <option>ryzen7</option>
                          <option>ryzen9</option>
                          <option>ultra5</option>
                          <option>ultra7</option>
                          <option>ultra9</option>
                          <option>celeron</option>
                      </select>
                    </div>
        
                    <div class="mb-3">
                      <label for="Ram"><b>Ram</b></label>
                      <input type="number" class="form-control" id="Ram" name="Ram" min="2" max="64" placeholder="select between 2 to 64" required="required">
                    </div>


                    <div class="mb-3">
                      <label for="Graphics"><b>Select Graphics</b></label>
                      <select class="form-control" id="Graphics" name="Graphics" placeholder="Graphics" required="required">
                        <option value="" disabled selected>Graphics</option>
                        <option>amd</option>
                        <option>intel</option>
                        <option>nvidia</option>
                        <option>other</option>
                      </select>
                    </div>


                    <div class="mb-3">
                      <label for="Disk_Size"><b>Disk Size</b></label>
                      <input type="number" class="form-control" id="Disk_Size" name="Disk_Size" min="4" max="4096" placeholder="select between 4 to 4096" required="required">
                    </div>

                    <input class="btn btn-primary" type="submit" value="Predict Laptop Price" required />
                  </div>  
                </form>
            </div>
            <div class="text-center text-black">
                <h3 class="display-4 fw-bolder">Laptop Price: Rs. {{context}} </h3>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(".input").focus(function(){
            $(this).parent().addClass("focus");
        }).blur(function(){
            if($(this).val() === ''){
                $(this).parent().removeClass("focus");
            }
        })
    </script>
  </body>
</html>